.detail-container {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: space-evenly;
    align-items    : stretch;
    width          : 95vw;
    height         : 80vh;
    margin-top     : 70px;

}

.details {
    border-radius: 10px;
    text-align   : left;
    margin       : 7px;
    padding      : 4px;
}

.detail-image {
    align-content: center;
    border-radius: 10px;
    margin       : 15px;
}

.detail-image img {
    max-width    : 43rem;
    max-height   : 35rem;
    border-radius: 10px;

}

.detail-thumbnail {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    width          : 90vw;
    justify-content: space-evenly;
    align-content  : center;

}

.details p {
    margin-top: 60px;
    text-align: center;
}