.detail-container {
    display        : flex;
    flex-direction : column;
    flex-wrap      : wrap;
    justify-content: space-evenly;
    align-items    : center;
    margin-top     : 70px;
}

.button-outer {
    display        : flex;
    flex-direction : row;
    justify-content: flex-end;
}

.notes ul,
.notes li {
    display        : flex;
    flex-direction : column;
    flex-wrap      : wrap;
    align-items    : flex-start;
    justify-content: flex-start;
    text-align     : left;
    margin-top     : 30px;
}

.notes h5 {
    padding: 0;
    margin : 5px 0px 0px 0px;
}

.notes {
    display       : flex;
    flex-direction: column;
    width         : 30vw;
    padding-top   : 35px;
}

.top-row {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : stretch;
}

.details {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    border-radius : 10px;
    text-align    : left;
    margin        : 7px;
    padding       : 4px;
}

.detail-thumbnail img {
    align-content: center;
    max-width    : 40rem;
    max-height   : 35rem;
    border-radius: 10px;
}

.detail-thumbnail {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    align-content : center;
}

.details p {
    margin-top: 60px;
    text-align: center;
}

.detail-map {
    display        : flex;
    justify-content: center;
    align-items    : center;
    height         : 30rem;
    width          : 50rem;
    overflow       : clip;
    margin-top     : 100px;
}

.title {
    display        : flex;
    justify-content: flex-start;
    text-align     : left;
}

.detail-title {
    display      : flex;
    border-radius: 10px;
    align-items  : center;
    margin-bottom: 0;
}

.delete-image {
    display       : flex;
    flex-direction: column;
    text-align    : center;
    font-size     : xx-small;
    margin-top    : 0;
}

.delete-image button {
    margin-top   : 20px;
    margin-bottom: 0;
}

.delete-image p {
    margin-top: 5px;
}

.title h5 {
    display: flex !important;
    padding: 0;
    margin : 0 !important;
}



div.edit {
    display        : flex;
    flex-direction : row;
    justify-content: flex-end;
}

#dropdown-basic::after {
    content: none
}

.dropdown-menu {
    display       : flex !important;
    flex-direction: column;
    align-content : center;
    padding       : 0 !important;
}

.edit-newmodal {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    padding-left  : 1rem;
    margin-top    : 20px;
}

.edit-newmodal:hover {
    cursor          : pointer;
    background-color: #e9ecef;
}

.edit-newmodal p {
    display   : flex;
    width     : 100%;
    margin-top: 5px;
}

.btn-light {
    background-color: transparent !important;
    border-color    : transparent !important;
}