.gallery {
    display        : flex;
    flex-direction : column-reverse;
    align-content  : flex-start;
    align-items    : center;
    justify-content: flex-start;
    border-radius  : 20px;
}

.empty-gallery {
    display        : flex;
    flex-direction : row;
    align-content  : center;
    align-items    : center;
    justify-content: center;
    padding-top    : 15rem;
}

.images {
    display       : flex;
    flex-direction: row-reverse;
    align-content : center;
}

.thumbnails p {
    display         : flex;
    height          : 180px;
    width           : 180px;
    border-radius   : 25px;
    margin          : 10px;
    justify-content : center;
    align-content   : center;
    text-align      : center;
    background-color: black;
}

.image-upload-area {
    display       : flex;
    flex-direction: column;
    border-radius : 10px;
    margin-top    : 25px;
}

.thumbnails-inner {
    display        : flex;
    flex-wrap      : wrap;
    width          : 120px;
    margin         : 10px;
    width          : 80vw;
    justify-content: center;
    border-radius  : 20px;
}

.thumbnails-inner img {
    display      : flex;
    flex-wrap    : wrap;
    border-radius: 10px;
    float        : left;
    width        : 250px;
    height       : 250px;
    object-fit   : cover;
}

.image-one {
    margin          : 20px;
    border-radius   : 15px;
    background-color: white;
    margin          : 5px;
    justify-content : center;
    align-items     : center;
    align-content   : center;
}