.map {
    display: flex;
    overflow:scroll;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.leaflet-container {
    height: 40rem;
    width : 60rem;
}

.large-map-view {
    display        : flex;
    flex-direction : row;
    justify-content: center;
}

.all-tags {
    display       : flex;
    flex-direction: column;
    border-radius : 15px;
    width         : 10rem;
    margin        : 20px;
}

.all-tags li {
    background-color: whitesmoke;
    margin          : 5px;
    padding         : 5px;
    border-radius   : 5px;
}

.all-tags li:hover {
    cursor: pointer;
}

.popup-text p {
    display       : flex !important;
    flex-direction: row;
    text-align    : center !important;
}