.image-upload {
    display        : flex;
    flex-direction : row !important;
    border-radius  : 5px;
    padding        : 10px 0px 10px 0px;
    justify-content: center;
    align-items    : center;
    width          : 400px;
}

.image-form {
    display       : flex;
    flex-direction: row !important;
}

.image-form button {
    height: 22px;
}

.form-input {
    display       : flex;
    flex-direction: row;
    width         : 200px;
}